/* Contents:
  01. Common Element Style
  02. Common Class Style
  03. Media Queries
  04. Navbar Style
  05. Footer Style
  06. Landing Page Style
  07. Profile Page Style
  08. Portfolio Page Style
  09. Contact Page Style
  10. Scroll Animation
  11. Timeline
  12. Glitch Effect
*/

/* 01. Common Element Style */
body {
  font-family: 'Roboto Mono', monospace;
}
ol, ul {
  color: #333;
  padding-left: 1.5rem;
}
ol li::before {
  margin-left: 1rem;
}
ul {
  list-style-type: none;
}
ul li::before {
  content: "–";
  margin-right: 0.5em;
}

/* 02. Common Class Style */
.sections {
  padding: 5%;
}
.is-margin-centered {
  margin: 0 auto;
}
.is-flex-full-centered {
  justify-content: center;
  align-items: center;
}
.is-flex-centered {
  justify-content: center;
}
.is-flex-row {
  flex-direction: row;
}
.is-flex-row-rev {
  flex-direction: row-reverse;
}
.is-flex-col {
  flex-direction: column;
}
.is-flex-col-rev {
  flex-direction: column-reverse;
}
.is-padded {
  padding: 1.5rem;
}
.is-hard-padded {
  padding: 40px 0%;
}
.modal-card {
  max-width: 700px;
  max-height: 500px;
}
.modal-card-body p {
  padding: 5px;
}
.card {
  border-radius: 15px;
}

.card-image {
  border: 5px solid white;
}
.card-image img {
  border-radius: 10px;
}
.card-image:hover {
  border-radius: 15px;
  border: 5px solid black;
  transition: border 1.5s;
}

/* 03. Media Queries */
/* Responsive design for tab and onwards */
@media (min-width: 769px) {
  .padded-horizontal {
    padding: 0 8%
  }
  #landingTitle {
    font-size: 4rem;
  }
}
/* Responsive design for mobile */
@media (max-width: 768px) {
  .modal-content, .modal-card, .card {
      margin: auto;
  }
}

/* 04. Navbar Style */
#top-nav {
  padding-top: 15px;
  z-index: 99;
}

/* 05. Footer Style */
#bottom-nav-footer {
  padding-bottom: 15px;
  z-index: 99;
}
#credits
{
  padding: 15px;
  font-size: 0.8rem;
}

/* 06. Landing Page Style*/
#gcv-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  height: 100%;
}
.wtag-space {
  padding-top: 10px;
}

/* 07. Profile Page Style */
#experience > h4 {
  margin: 0;
  padding: 0 20%;
}

#education > h4 {
  margin: 0;
  padding: 0 20%;
}

/* 08. Portfolio Page Style */
.pubtitle {
  font-size: 1.25rem;
  font-style: oblique;
}
.project-license {
  float: left;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 2px 5px;
  left: 0;
  bottom: 0;
  top: -2.1rem;
  height: 2rem;
  width: fit-content;
  text-align: center;
  background: whitesmoke;
  box-shadow: 2px -2px 4px 2px #666; 
}
.project-heading, #contactStatement {
  margin: 5px 0 0;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: oblique;
}
/* 09. Contact Page Style */

/* 10. Scroll Animation */
.scroller a {
  position: relative;
  top: 95%;
  bottom: 20px;
  left: auto;
  right: auto;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #000;
  font : normal 400 20px/1 'Roboto Mono', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scroller a:hover {
  opacity: .5;
}
#landingscroll {
  text-align: center;
  margin: 0px auto;
}
#landingscroll a {
  padding-top: 70px; 
}
#landingscroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* 11. Timeline */
.timeline {
  width: 100%;
  padding: 10px;
  position: relative;
}
.timeline * {
  box-sizing: border-box;
}
.timeline::before {
  background: salmon;
  content: "";
  position: absolute;
  top: 0px;
  left: 33%;
  bottom: 0px;
  width: 0.25rem;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
.tl-entry {
  clear: both;
  text-align: left;
  position: relative;
}
.tl-entry .tl-title {
  margin-bottom: 0.5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.tl-entry .tl-title::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -7px;
  z-index: 90;
}
.tl-entry .tl-title h3 {
  margin: 0;
}
.tl-entry .tl-body {
  margin: 0 0 1.5em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.tl-entry .tl-body h3 {
  margin: 0;
}
.tl-entry .tl-body p {
  line-height: 1.2rem;
  margin-top: 1rem;
  font-weight: 500;
}
.tl-end {
  clear: both;
  position: relative;
  float: left;
  left: 33%;
}
.tl-end::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -7px;
  z-index: 90;
}

/* 12. Glitch Effect */


